main {
 
}
section {
  padding: 1.5rem;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}
.about-me {
  /* background-image: url("./media/technicalapp.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
   background-color: #cccccc;
  background-image: radial-gradient(#7b4eff, #2c3e507d);
  color: #fff;
  margin: 90px 0;
}
h1, h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: #007acc;
  text-decoration: underline;
}
/* .tech-photo {
  max-width: 300px;
  border-radius: 15px;
} */
@media screen and (min-width: 768px){
    main {
        max-width: 900px;
        margin: 0 auto;
    }
}