* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* COLOURS-Gray-#4b4b4b; White-whitesmoke*/
/* Main colour buttons Blue-#3A9BC2; */
/* Borders grey-#E9E9E9 */
/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

body {
  
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #4b4b4b;
}
main {
  background-color: whitesmoke;
}

/* Mobile navigation */
/* NAVIGATION */
.mobile-header {
  background-color: #4b4b4b;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
}

/* the HAMBURGER MENU styling */
.hamburger {
  cursor: pointer;
  margin: 6px;
}
.features-icon {
  stroke: whitesmoke;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: whitesmoke;
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* The hidden hamburg menu */
.topnav {
  overflow: hidden;
  background-color: #ddd;
  position: relative;
  background-color: #3a9bc2;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #f0eeee;
}

.desktop-header {
  display: none;
}
/* end */

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: whitesmoke;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/*  */
.hero-header {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  padding: 100px 40px;
   background: linear-gradient(to right, #fefefe, #e3f2fd);
  /* background-color: #fefefe; */
  margin-left: 150px;
}

.hero-text {
  flex: 1 1 100%;
 
}
.hero-text h1 {
  font-size: clamp(28px, 4vw, 48px); /* Dynamically adjusts */
    color: #333;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.6;
}


.hero-text .highlight {
  color: #0077cc;
  font-weight: bold;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

.btn-primary {
  padding: 12px 24px;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #005fa3;
}



/* .hero-img {
  max-width: 260px;
  border-radius: 50%;
} */
.bold {
  color: rgba(70, 142, 187, 0.957);
}
.header-p {
  font-size: 18px;
  line-height: 1.5;
  color: #4b4b4b;
  font-style: italic;
}
.btn-big {
  width: 160px;
  height: 45px;
  background-color: #3a9bc2;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 8px;
}

.btn-big:hover,
.btn-big:active {
  background-color: #3a9bc2;
  transform: scale(1.2);
  border-radius: 1px solid #398294;
}

/* about me section */
.about-section {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: space-between; */
  padding: 100px 40px;
  background-color: #fefefe;
margin: 0 auto;

}
.about-image {
  flex: 1 1 40%;
  text-align: center;
}

.about-image img {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  /* max-width: 40%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
}
.about-text {
flex: 1 1 50%;
  max-width: 500px;
  padding-right: 40px;


}
.Aboutme-box {
  padding: 16px;
  /* text-align: center; */
}
.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;

}
.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.features-icon-blue {
  stroke: #3a9bc2;
  width: 22px;
}

/* Portfolio */
/* a.one:link {
  color: #ff0000;
}
a.one:visited {
  color: #3a9bc2;
}
a.one:hover {
  color: #ffcc00;
}
.project-heading {
  text-transform: uppercase;
  color: #ff9f55;
}
.portfolio-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid hsl(0, 0%, 91%);
  background-color: #fff;
  padding: 16px 10px;
}
.portfolio-img {
  max-width: 286px;
}
.portfolio-btn {
  width: 120px;
  height: 35px;
  background-color: #3a9bc2;
  border: 2px solid #6d6c6c;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 8px;
} */
/* skills */
/* .skills-cont { */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  padding: 16px 10px;
} */
/* .container {
  width: 100%;
  background-color: #ddd;
} */

/* .skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
} */

/* SKILLS SECTION */
.skills-section {
  text-align: center;
  padding: 80px 40px;

}

.skills-section h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 15px;
}

.skills-intro {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.skills-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill-card {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card img {
  width: 48px;
  height: auto;
  margin-bottom: 15px;
}

.skill-card h3 {
  font-size: 22px;
  color: #0077cc;
}

.skill-card p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
/* SKILLS */

  /* background: linear-gradient(to right, #fefefe, #e3f2fd); */


o
/* Phone Mockup
.phone-frame {
  width: 290px;
  height: 600px;
  background: #222;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.phone-frame .video-demo {
  width: 100;
  max-width: 320px;
  margin: 0 auto;
}

.screen img {
  width: 100%;
  height: auto;
  border-radius: 16px;
} */


/* Video Demo */
/* .video-demo {
  max-width: 400px;
  margin-top: 20px;
}

.video-demo h3 {
  font-size: 22px;
  color: #0077cc;
} */


/* The phone frame styling */
/* Phone  */
 /* .phone-frame {
  width: 280px;
  height: 500px;
  background: #222;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
} */

/* .app-screen {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 80%;
  height: auto;
  border-radius: 8px;
} */

/* .project-details {
  display: flex;
  flex: 1 1 50%;
  text-align: left;
}

.project-details h3 {
  font-size: 24px;
  color: #0077cc;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #005fa3;
} */
/*  */

.portfolio-section {
    margin: 64px 40px;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #fefefe, #e3f2fd);
    padding: 62px 0;
}

.text-section {
    flex: 1 1 45%;
    max-width: 600px;
}

.text-section h1 {
    font-size: 36px;
    color: #232d4e;
    margin-bottom: 15px;
}

.text-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.text-section h3 {
    font-size: 24px;
    color: #0077cc;
    margin-bottom: 15px;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.feature-list img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Phone Mockup */
.phone-frame {
    width: 280px;
    height: 600px;
    background: #222;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}



.screen img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.desktop-frame {
  width: 100%;
  max-width: 330px;
  height: 200px;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}
.video-demo {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #eae9e9;
  border-radius: 10px;
  padding: 20px;
}
video {
  max-width: 300px;
  height: auto;
}









.html {
  width: 90%;
  background-color: #04aa6d;
} */

/* Style the footer */
.footer-box {
  background-color: #4b4b4b;
  color: whitesmoke;
  padding: 10px 16px;
}
.form {
  width: 80%;
}

input[type="text"],
select {
  width: 100%;
  background-color: #747373;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}
[type="email"] {
  width: 100%;
  background-color: #747373;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #747373;
  border: none;
}

.btn {
  width: 40%;

  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.submit {
  background-color: #3a9bc2;
  color: white;
}
.clear {
  background-color: whitesmoke;
  color: #4b4b4b;
}

.submit:hover {
  background-color: #6ca5bc;
}
.clear:hover {
  background-color: rgb(252, 238, 238);
}

.name-email-cont {
  display: flex;
  flex-direction: column;
}

.valid {
  color: rgb(76, 230, 76);
}

.invalid {
  color: orange;
}
#copyright {
  color: #666666;
  text-decoration: none;
  font-size: 12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .portfolio-content {
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        max-width: 100%;
    }

    .phone-frame {
        margin-top: 30px;
    }
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
  /* Portfolio */
  .portfolio-section {
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
  }
  /* Adjust layout for small screens
.portfolio-section {
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
} */

.portfolio-desc-left,
.portfolio-flex,
.project-details,
.phone-frame {
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  padding: 0;
}
/* Stack features vertically */
.feature-list {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.feature-list li {
  justify-content: flex-start;
  max-width: 90%;
  margin: 8px 0;
}

/* Center phone mockup and video */
.phone-frame {
  margin: 30px auto;
}

.video-demo {
  margin-top: 20px;
  
}

}

@media screen and (min-width: 768px) {
  .header-box {
    display: flex;
    gap: 26px;
    max-width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #6d6c6c;
  }
  /* .Aboutme-box {
    margin-bottom: 80px;
  } */
  .Portfolio-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  .flex-left {
    padding: 10px;
    flex: 33%;
  }
  .flex-middle {
    padding: 10px;
    flex: 33%;
  }
  .flex-right {
    padding: 10px;
    flex: 33%;
  }

  .portfolio-img {
    max-width: 186px;
  }
  .skills-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    text-align: center;
    gap: 16px;
    width: 80%;
    margin: 0 auto;
  }
  .skills-cont {
    padding: 10px;
    flex: 25%;
  }
  .name-email-box {
    display: flex;
    gap: 16px;
  }
  .name-email {
    display: felx;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
  .desktop-header {
    display: block;
  }
  .header-box {
    margin-bottom: 120px;
  }
  .sidenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #4b4b4b;
    line-height: 1.4;
  }
  .features-icon {
    margin-top: 9px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
  }
  .sidenav a:hover {
    color: #064579;
    background-color: #fff;
  }
  #search-bar {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-left: 14px;
    border: none;
    font-size: 18px;
    width: 180px;
    border: none;
  }
  /* .Aboutme-box {
   text-align: center; 
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    justify-content: center;
  } */

  .header-p {
    font-size: 24px;
  }
  .H1-style {
    font-size: 3em;
  }
  .about-section {
    flex-direction: row;
  }
  /* The portfolio section */
  .Portfolio-box {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 26px;
    margin-bottom: 90px;
  }

  .portfolio-comp {
    flex: 30%;
  }

  /* Timeline */
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    /* padding: 10px; */
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  /* .Portfolio-box {
    margin-bottom: 50px;
  } */
  .portfolio-img {
    max-width: 456px;
  }
  .skills-box {
    padding-bottom: 120px;
  }
  main h1 {
    text-align: center;
    margin-bottom: 120px;
  }
  .form-box {
    width: 50%;
    margin: 0 auto;
  }
  .form-heading {
    text-align: center;
    padding: 64px;
  }
}

