<!-- Footer -->
<footer id="contact" class="footer-box">
  <div class="footer-content">
    <div class="footer-info">
      <div>
        <img
          src="./assets/lightlogo.svg"
          alt="Petya Dimitrova logo"
          class="footer-logo"
        />
      </div>
      <div class="business-descr">
        <h2 class="footer-header-h2">About Petya Digital Care</h2>
        <p>
          Petya Digital Care is a digital branding and web development studio
          helping small businesses and startups build a strong, cohesive brand
          identity and online presence. The business offers a complete end to
          end service: brand identity, digital assets, website design, and full
          website development.
        </p>
      </div>
      <h3>Quick links</h3>
      <div class="arrange-manu-footer">
        <a class="nav__link-footer" href="services.html">Services</a>
        <a class="nav__link-footer" href="contact.html">Contact</a>
      </div>
      <div class="footer-details">
        <h3 class="footer-header-h2">Contact us:</h3>
        <address>
          <p>
            <i class="bi bi-telephone bi-hero"></i>
            +44 7448172379
          </p>
          <a href="mailto:petya83dimitrova@gmail.com" class="footer-email">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="bi-hero"
            >
              <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
              <rect x="2" y="4" width="20" height="16" rx="2" />
            </svg>
            petya83dimitrova@gmail.com
          </a>
        </address>
        <div class="social-links">
          <a href="https://www.facebook.com/petyasdigitalcare" title="Facebook">
            <i class="bi bi-facebook bi-hero"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/petya-dimitrova-7b7b56234/"
            title="LinkedIn"
          >
            <i class="bi bi-linkedin bi-hero"></i>
          </a>
          <a
            href="https://github.com/priorityc?tab=repositories"
            title="GitHub"
          >
            <i class="bi bi-github bi-hero"></i>
          </a>
          <a href="mailto:petya83dimitrova@gmail.com" title="Email">
            <i class="bi bi-envelope bi-hero"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-form">
      <h3>Let’s work together.</h3>
      <p>
        If you’re looking to upgrade your business developing strong web
        presence I’d love to hear from you.
      </p>

      <form id="contact-form" onsubmit="validateFooterForm(event)">
        <div class="form-row">
          <label for="footer_fname"></label>
          <input
            type="text"
            id="footer_fname"
            name="footer_fname"
            placeholder="First Name"
            onchange="validateFooterInput(this)"
          />
          <small id="feedback_footer_fname" aria-live="polite"></small>
          <label for="footer_lname"></label>
          <input
            type="text"
            id="footer_lname"
            name="footer_lname"
            placeholder="Last Name"
            onchange="validateFooterInput(this)"
          />
          <small id="feedback_footer_lname" aria-live="polite"></small>
        </div>
        <label for="footer_email"></label>
        <input
          type="email"
          id="footer_email"
          name="footer_email"
          placeholder="Your Email"
          onchange="validateFooterInput(this)"
        />
        <small id="feedback_footer_email" aria-live="polite"></small>
        <label for="footer_message"></label>
        <textarea
          id="footer_message"
          name="footer_message"
          rows="6"
          placeholder="Write your message here..."
          onchange="validateFooterInput(this)"
        ></textarea>
        <small id="feedback_footer_message" aria-live="polite"></small>

        <div class="footer-btn">
          <input class="btn-primary-footer" type="submit" value="Submit" />
          <input class="btn-secondary-footer" type="reset" value="Clear" />
        </div>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <ul class="footer-links">
      <li>
        <a href="mailto:petya83dimitrova@gmail.com">
          petya83dimitrova@gmail.com
        </a>
      </li>
      <li>
        <a href="https://github.com/priorityc/Portfolio">
          View code of this portfolio
        </a>
      </li>
      <li>Built with: HTML, CSS, JavaScript</li>
      <li>&copy; Petya Dimitrova. All rights reserved.</li>
    </ul>
  </div>
</footer>
<style>
  .btn-primary-footer {
    background: #9a00ff;
    border: none;
    color: #e6e0ff;
  }

  .footer-box {
    background: linear-gradient(180deg, #1a1a2e 0%, #26263d 100%);
    color: #d8d6d6;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-header-h2 {
    color: #fff;
    margin-bottom: 1rem;
  }

  .arrange-manu-footer {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .nav__link-footer {
    color: #fff;
  }

  .footer-info p {
    font-size: var(--fs-sm);
    margin-bottom: 2rem;
  }

  .footer-email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--bg-purple);
    text-decoration: none;
    font-size: var(--fs-sm);
  }

  .social-links {
    display: flex;
    margin-top: 1rem;
  }

  .social-links a {
    color: #a78bfa;
    font-size: 1.3rem;
    transition: color 0.3s ease;
  }

  .social-links a:hover {
    color: #c084fc;
  }

  .footer-form {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    color: var(--card-purple);
    padding: 1em;
    backdrop-filter: blur(8px);
  }

  .footer-form h2 {
    color: var(--bg-purple);
    margin-bottom: 0.5rem;
  }

  .footer-form p {
    font-size: var(--fs-sm);
    opacity: 0.8;
    margin-bottom: 1rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-form input,
  textarea {
    padding: 0.8rem;
    border-radius: 16px;
    border: 1px solid var(--light-background);
    background: black;
    text-decoration: none;
    /* color: white; */
    color: var(--light-background);
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: #a78bfa;
  }

  .footer-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .btn-primary-footer {
    background: linear-gradient(135deg, rgb(56, 189, 248), rgb(168, 85, 247));
    color: #fff;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-secondary-footer {
    background: linear-gradient(180deg, #0f0f1a 0%, #1a1a2e 100%);
    border: var(--border-purple);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 0.8rem 1.2rem;
    border-radius: 16px;
  }

  .btn-primary-footer:hover {
    background: #c084fc;
  }

  .btn-secondary-footer:hover {
    background: #a78bfa;
    color: #fff;
  }

  .footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.5rem;
    margin-top: 2rem;
    font-size: var(--fs-xs);
  }

  .footer-logo {
    width: 80px;
    margin-bottom: 1rem;
  }

  .footer-details h3 {
    font-size: var(--fs-md);
  }

  .footer-links li {
    list-style: none;
    font-size: var(--fs-xs);
    color: #454546;
    margin: 0.3rem 0;
  }

  .footer-links li:nth-child(2) a {
    text-decoration: none;
    border-bottom: 2px solid #a78bfa;
    padding-bottom: 2px;
  }

  .footer-links a {
    color: var(--bg-purple);
    font-size: var(--fs-xs);
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-form {
      flex: 1;
      max-width: 50%;
    }

    .footer-info {
      flex: 1;
      max-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media (min-width: 1024px) {
    .form-box {
      max-width: 300px;
      float: right;
    }

    .footer-box {
      display: flex;
      padding: 7rem 3rem;
    }

    .form-heading {
      text-align: center;
    }
  }
</style>
